body {
	background-color: #e3e3e3;
}

h1 {
	font-family: verdana, arial, helvetica, sans-serif;
}

h2 {
	font-family: verdana, arial, helvetica, sans-serif;
	margin: 0px;
}

div.title {
	color: black;
	margin: 15px;
}

p.title {
	font-family: verdana, arial, helvetica, sans-serif;
}

div.section {
	background-color: #ffffff;
	border-style: solid;
	border-width: 1px;
	padding: 10px;
	margin-right: 30px;
	margin-top: 15px;
	margin-bottom: 15px;
    width: 500px;
    max-width: 90%;
    float: left;
}

div.fullsection {
	background-color: #ffffff;
	border-style: solid;
	border-width: 1px;
	padding: 10px;
	margin-right: 30px;
	margin-top: 15px;
	margin-bottom: 15px;
    width: 90%;
    max-width: 1052px;
    float: left;
}

form, p.section {
	font-family: consolas, monotype, courier;
	font-size: smaller;
	padding-left: 2px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}


img.figure {
	width:100%
}